{% extends 'base.html' %}

{% block stylesheet%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/checkout.css')}}">
{% endblock %}

{% block title %}user{% endblock %}

{% block content %}
		<div id="checkout" class="active">
			<div class="container-2" id="CONTAINER">
				<div class="blocks">
				  <div class="block" name="coca" price="10" onclick="AddItem(this)">Block 1</div>
				  <div class="block" name="fanta" price="20" onclick="AddItem(this)">Block 2</div>
				  <div class="block" name="frite" price="36" onclick="AddItem(this)">Block 3</div>
				  <!-- Add more blocks as needed -->
				</div>
				
				<div class="calculator" id="CALCULATOR"> 
					<div class="calculator-screen">
						<input type="text" class="screen-input" id="CALC_INPUT" readonly onfocusout="changeCalcState()" onfocus="changeCalcState()">
				  	</div>
				  	<div class="calculator-buttons">
						<button class="button" onclick="CalculatorAdd('7')">7</button>
						<button class="button" onclick="CalculatorAdd('8')">8</button>
						<button class="button" onclick="CalculatorAdd('9')">9</button>
						<button class="button" onclick="CalculatorAdd('/')">/</button>
						<button class="button menu-button" onclick="CalculatorCancel()">back</button>
						<button class="button" onclick="CalculatorAdd('4')">4</button>
						<button class="button" onclick="CalculatorAdd('5')">5</button>
						<button class="button" onclick="CalculatorAdd('6')">6</button>
						<button class="button" onclick="CalculatorAdd('*')">*</button>
						<button class="button menu-button" onclick="CalculatorSuppr()">suppr</button>
						<button class="button" onclick="CalculatorAdd('1')">1</button>
						<button class="button" onclick="CalculatorAdd('2')">2</button>
						<button class="button" onclick="CalculatorAdd('3')">3</button>
						<button class="button" onclick="CalculatorAdd('-')">-</button>
						<button class="button menu-button" onclick="CalculatorReset()">RESET</button>
						<button class="button" onclick="CalculatorAdd('0')">0</button>
						<button class="button" onclick="CalculatorAdd('.')">.</button>
						<button class="button" onclick="CalculatorAdd('%')">%</button>
						<button class="button" onclick="CalculatorAdd('+')">+</button>
						<button class="button" id="equal" onclick="CalculatorResult()">=</button>

				  	</div>
			  </div>
		</div>
		<div class="item-container" >
			<div id="items-list">
			<div class="item">
				<span class="items-title">Items list</span>
			</div>
		</div>
			
			<div class="item">
				<span class="total">Total</span>
				<span class="total-price" id="total-value">0Da</span>
			</div>
		  </div>
		
{% endblock %}

{% block scripts %}	
<script src=https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.3.0/math.min.js></script>
<script type="text/javascript" src="{{url_for('static', filename='js/calc.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/checkout.js')}}"></script>
{% endblock %}

