{% extends 'base.html' %}

{% block stylesheet%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/checkout.css')}}">
{% endblock %}

{% block title %}user{% endblock %}

{% block content %}
		<div id="checkout" class="active">
			<div class="container-2" id="CONTAINER">
				<div class="blocks">
				  <div class="block" value="10" name="coca">Block 1</div>
				  <div class="block" value="20" name="fanta">Block 2</div>
				  <div class="block" value="36" name="frite">Block 3</div>
				  <!-- Add more blocks as needed -->
				</div>
				
				<div class="calculator" id="CALCULATOR"> 
					<div class="calculator-screen">
						<input type="text" class="screen-input" id="CALC_INPUT" readonly onfocusout="changeCalcState()" onfocus="changeCalcState()">
				  	</div>
				  	<div class="calculator-buttons">
						<button class="button" onclick="CalculatorAdd('7')">7</button>
						<button class="button" onclick="CalculatorAdd('8')">8</button>
						<button class="button" onclick="CalculatorAdd('9')">9</button>
						<button class="button" onclick="CalculatorAdd('/')">/</button>
						<button class="button menu-button" onclick="CalculatorCancel()">back</button>
						<button class="button" onclick="CalculatorAdd('4')">4</button>
						<button class="button" onclick="CalculatorAdd('5')">5</button>
						<button class="button" onclick="CalculatorAdd('6')">6</button>
						<button class="button" onclick="CalculatorAdd('*')">*</button>
						<button class="button menu-button" onclick="CalculatorSuppr()">suppr</button>
						<button class="button" onclick="CalculatorAdd('1')">1</button>
						<button class="button" onclick="CalculatorAdd('2')">2</button>
						<button class="button" onclick="CalculatorAdd('3')">3</button>
						<button class="button" onclick="CalculatorAdd('-')">-</button>
						<button class="button menu-button" onclick="CalculatorReset()">RESET</button>
						<button class="button" onclick="CalculatorAdd('0')">0</button>
						<button class="button" onclick="CalculatorAdd('.')">.</button>
						<button class="button" onclick="CalculatorAdd('%')">%</button>
						<button class="button" onclick="CalculatorAdd('+')">+</button>
						<button class="button" id="equal" onclick="CalculatorResult()">=</button>

				  	</div>
			  </div>
		</div>
		<div class="item-container">
			<div class="item">
				<span class="items-title">Items list</span>
			</div>
			<div class="item">
			  <div class="item-details">
				<span class="item-name">Item Name but like a really long item taht someone took but they don't really want it I</span>
				<input class="item-quantity" type="number" value="1" min="1">
				<span class="item-price">360000Da</span>
			  </div>
			  <button class="remove-button">Remove</button>
			</div>
			<div class="item">
			  <div class="item-details">
				<span class="item-name">Another Item</span>
				<input class="item-quantity" type="number" value="3" min="1">
				<span class="item-price">150Da</span>
			  </div>
			  <button class="remove-button">Remove</button>
			</div>
			<!-- You can add more item entries here -->
			<div class="item">
				<span class="total">Total</span>
				<span class="total-price">150Da</span>
			</div>
		  </div>
		
{% endblock %}

{% block scripts %}	
<script src=https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.3.0/math.min.js></script>
<script type="text/javascript" src="{{url_for('static', filename='js/calc.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/checkout.js')}}"></script>
{% endblock %}

